.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.person-container {
  width: 500px;
  margin: 15px auto;
  padding: 20px;
  display: block;
  border: 1px solid #eee;
  box-shadow: 2px 3px 4px #ccc;
}

.person-container h1 {
  font-size: 16px;
}